@import 'variables.scss';
////////////////
////////////////
//WRITE STYLES//
////////////////
////////////////

//general styles
body {font-family: $font1;size:$base-font-size;}
h1, h2, h3, h4 {font-family: $header-font;}
h1 {color: $header1-color;font-weight: $header1-font-weight;}
h2 {color: $header2-color;font-weight: $header2-font-weight;}
h3 {color: $header3-color;font-weight: $header3-font-weight;}
h4 {color: $header4-color;font-weight: $header4-font-weight;}
p, a, li {color: $main-text-color;font-family: $main-text-font;}
ol li:before {color: $numbered-list-number-color;}
blockquote {border-color:$blockquote-border-color;color: $blockquote-text-color;}
input, button, select, textarea {border:$form-border;}
a.button, 
input[type="submit"]{
	font: {
		family: $button-font;
		weight: $button-font-weight;
	}
	color: $button-text-color;
	text-transform: $button-text-transform;
	text-decoration: none;
	background-color: $button-background-color;
	padding: $button-padding;
	border: {
		width: $button-border-width;
		color: $button-border-color;
		radius: $button-border-radius;
	}
	box-shadow: $button-box-shadow;
	&:hover {
		color: $button-hover-text-color;
		background-color: $button-hover-background-color;
		border-color: $button-hover-border-color;
	}

}
.entry-content {
	a {
		color: $theme-color3;
		text-decoration: $link-text-decoration;
		&:hover {
			color: $link-hover-color;
			text-decoration: $link-hover-decoration;
		}
	}
	ul li:before {
		color: $bulleted-list-bullet-color;
	}
}

//header
#header {
	background-color: $header-background;
	padding-top: $header-padding-top;
	padding-bottom: $header-padding-bottom;

	.navbar-toggle .icon-bar {
		background-color: $mobile-hamburger-button-color;
	}

	.nav>li>a {
		font: {
			family: $main-nav-link-font;
			size: $main-nav-font-size;
		}
		color: $main-nav-link-color;
		border: {
			top: $main-nav-border-top;
			bottom: $main-nav-border-bottom;
			left: $main-nav-border-left;
			right: $main-nav-border-right;
		}
		&:hover,
		&:active,
		&:focus {
			color: $main-nav-link-hover-text-color;
			background-color: $main-nav-link-hover-background-color;
			border: {
				top: $main-nav-link-hover-border-top;
				bottom: $main-nav-link-hover-border-bottom;
				left: $main-nav-link-hover-border-left;
				right: $main-nav-link-hover-border-right;
			}
		}
	}

	.nav>li.active>a,
	.nav>li.active>a:hover,
	.nav>li.active>a:focus,
	.nav>li.current-menu-parent>a:active,
	.nav>li.current-menu-parent>a,
	.nav>li.current-menu-parent>a:hover,
	.nav>li.current-menu-parent>a:focus,
	.nav>li.current-menu-parent>a:active {
		color: $main-nav-link-active-text-color;
		background-color: $main-nav-link-active-background-color;
		border: {
			top: $main-nav-link-active-border-top;
			bottom: $main-nav-link-active-border-bottom;
			left: $main-nav-link-active-border-left;
			right: $main-nav-link-active-border-right;
		}
	}

	.nav>li.social-link>a,
	.nav>li.social-link>a:hover,
	.nav>li.social-link>a:focus,
	.nav>li.social-link>a:active {
		border: none;
	}

	.dropdown-menu {
		background-color: $dropdown-menu-background;
		font-size: $dropdown-menu-font-size;
		li>a {
			color:$dropdown-menu-link-color;
			&:hover {
				color: $dropdown-menu-link-hover-color;
				background-color: $dropdown-menu-link-hover-background-color;
				text-decoration: $dropdown-menu-link-hover-text-decoration;
			}
		}
		li.active>a,
		li.active>a:hover,
		li.active>a:focus,
		li.active>a:active {
			color: $dropdown-menu-link-active-color;
			background-color: $dropdown-menu-link-active-background-color;
			text-decoration: $dropdown-menu-link-active-text-decoration;
		}
	}

	.header-cta-button a.button {
		color: $header-button-text-color;
		background-color: $header-button-background-color;
		border-color: $header-button-border-color;
		box-shadow: $header-button-box-shadow;
		&:hover {
			background-color: $header-button-hover-background-color;
			color: $header-button-hover-text-color;
			border-color: $header-button-hover-border-color;		
		}
	}

}

//home page
.home {
	.slide-text {
		background-color: $slide-text-background;
		p {
			color: $slide-text-color;
		}
		a.button {
			color: $header-button-text-color;
			background-color: $header-button-background-color;
			border-color: $header-button-border-color;
			box-shadow: $header-button-box-shadow;
			&:hover {
				color: $header-button-hover-text-color;
				background-color: $header-button-hover-background-color;
				border-color: $header-button-hover-border-color;
			}
		}
	}
	#home-columns {
		.home-column {
			background: $home-column-background-color;
			border: $home-column-border;
			h3 {
				color: $home-column-header-color;
				background: $home-column-header-background;
			}
		}
	}
}

//sidebar
#sidebar {
	h3 {
		color: $theme-color1;
	}
	a {
		color: $sidebar-link-color;
		&:hover {
			color: $sidebar-link-hover-color;
			text-decoration: $sidebar-link-hover-decoration;
		}
	}
}

//footer
footer {
	background-color: $footer-background-color;
	border-top: $footer-border-top;
	h4 {
		color: $footer-header-color;
		border-bottom: $footer-header-border-bottom;
	}
	p, a, span, li, div {
		color: $footer-main-text-color;
	}
	a:hover {
		color: $footer-link-hover-text-color;
		text-decoration: $footer-link-hover-text-decoration;
	}

}


//contact
#contact-page-template {
	iframe {
		border: $google-maps-border!important;
	}
}